#datepicker, #timepicker {
  display: inline-table !important;
  width: 46vw;
  max-width: 100px;
  position: relative; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700; }

#dates .input-group-addon {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

#dates .input-group-addon, #dates input {
  border-radius: 0px; }

.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top-color: #cccccc;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-left-color: #cccccc;
  border-radius: 4px; }

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell; }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.glyphicon-calendar::before {
  content: "\e109"; }

#dates .input-group-addon {
  color: #fff; }

.input-group-addon {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center; }

.input-group-addon, .input-group-btn {
  white-space: nowrap; }

#border {
  background-color: grey;
  border-color: red; }

#blocks-navigation {
  text-align: center; }

.item {
  display: inline-block;
  position: relative;
  padding-top: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  vertical-align: middle;
  margin-bottom: 3px;
  cursor: pointer;
  text-align: center; }

.item {
  width: 16.35%;
  min-width: 190px;
  height: 190px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.item-horaires {
  color: #fff; }

.item-horaires {
  background-color: #0270bc; }

#map {
  height: 100%; }

.after {
  width: 100%;
  height: 100%; }

@media screen and (min-width: 500px) {
  .after {
    width: 60%;
    height: 60%; } }

/*# sourceMappingURL=style.css.map */
